
* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 60px;
}

input {
    font-size: 1.2rem;
    width: 100%;
    color: gray;
}

input:focus{
    outline: none;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1%;
}

.card {
    align-content: center;
    border: 1px solid grey;
    border-radius: 6px;
    overflow: hidden;
    max-width: 280px;
    margin-bottom: 10px;
}   

.card p {
    padding: 10px;
    text-align: center;
}


.card img {
    width: 100%;
}
